.productContainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-template-columns: 5rem 35% 1fr 1fr 5rem;
  place-items: center;
  justify-content: flex-start;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-color);
}

.productName,
.price {
  padding: 0.3rem;
  font-size: 1.3rem;
  text-align: center;
}

.price {
  font-size: 1.5rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  height: 3rem;
  width: 4rem;
  border: 1px solid var(--border-color);
  text-align: center;
  font-size: 1.3rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.countMinus,
.countPlus,
.removeButton {
  @include button-standard;
  height: 3rem;
  width: 3rem;
}

.removeButton {
  padding: 0;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
