.buttonContainer {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.innerButtonIcon {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.innerButtonBlock {
  @include button-standard;
  min-width: 20rem;
  height: 4.23rem;
  font-size: 0.9rem;
  background-color: var(--white-darker);

  &:hover {
    background-color: var(--accent-color-secondary);
  }
}

.buttonInnerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wishlistIconContainer {
  margin-left: auto;
}
