.socialsContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;

  .socialsLink {
    display: block;
    height: 4vw;
    width: 4vw;
    max-height: 3rem;
    max-width: 3rem;
    margin-right: 1.5rem;
    margin: 0.5rem 1rem 0.5rem 0;
  }

  @media (width < 630px) {
    flex-direction: column;
  }
}
