.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 40%;
  min-height: 35rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
  overflow-x: hidden;
}

.sectionHeader {
  @include section-header;
  width: 130%;
  font-size: 2.2rem;
}
