.ratingContainerHorizontal,
.ratingContainerVertical {
  position: absolute;
}

.ratingContainerHorizontal {
  top: 1%;
  left: -1%;
}

.ratingContainerVertical {
  top: 15%;
  left: 7%;

  @media (width < 1250px) {
    left: 1%;
  }

  @media (width < 1000px) {
    left: -1%;
  }
}

.rating {
  display: flex;
  width: (40px * 5) + (2px * (5 - 1));
  height: 40px;
  padding: 0;
  transform: scaleX(-1);

  label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-right: 2px;
    }

    &:before {
      content: '\2605';
      font-size: 40px + 2px;
      color: #cccccc;
      line-height: 1;
    }
  }

  input {
    display: none;
  }

  input:checked ~ label:before {
    color: #f9df4a;
  }
}

.ratingContainerVertical {
  .rating {
    flex-direction: column;
    height: (40px * 5) + (2px * (5 - 1));
    width: 40px;
  }
}
