.ratingContainerHorizontal,
.ratingContainerVertical {
  position: absolute;
  top: 1%;
  left: -1%;
}

.ratingContainerHorizontal {
  height: 1rem;
  width: 8rem;
}

.ratingContainerVertical {
  width: 1rem;
  height: 5rem;
}

.rating {
  display: flex;
  width: (40px * 5) + (2px * (5 - 1));
  height: 40px;
  padding: 0;
  transform: scaleX(-1);

  label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-right: 2px;
    }

    &:before {
      content: '\2605';
      font-size: 40px + 2px;
      color: #cccccc;
      line-height: 1;
    }
  }

  input {
    display: none;
  }

  input:checked ~ label:before {
    color: #f9df4a;
  }
}
