.accountContainer {
  width: 45rem;
  min-height: 38rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
  overflow-x: hidden;

  @media (width < 700px) {
    width: auto;
  }
}

.accountHeader {
  @include section-header;
  width: 126%;
}

.notLoggedIn {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
