.badgeContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  right: 14.5rem;
  top: 0.75rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  border: 2px solid red;
  border-radius: 50%;
  background-color: var(--accent-color);
}
