.searchContainer {
  width: 25%;
  min-width: 18.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

  @media (width < 430px) {
    width: 20%;
    min-width: 14.8rem;
  }
}

.searchInput {
  width: 100%;
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &:focus {
    outline: 2px solid var(--accent-color);
  }

  @media (width < 430px) {
    font-size: 1rem;
  }
}

.searchButton {
  @include button-standard;

  @media (width < 430px) {
    padding: 0.25rem 0.5rem;
  }
}
