.searchContainer {
  position: relative;
  width: 25%;
  min-width: 18.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  margin-bottom: 0.8rem;

  @media (width < 430px) {
    width: 20%;
    min-width: 14.8rem;
  }
}

.searchInput {
  width: 100%;
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &:focus {
    outline: 2px solid var(--accent-color);
  }

  @media (width < 430px) {
    font-size: 1rem;
  }
}

.searchButton {
  @include button-standard;

  @media (width < 430px) {
    padding: 0.25rem 0.5rem;
  }
}

.autoSuggestionsContainer {
  position: absolute;
  width: calc(100% - 5.25rem);
  left: 0;
  top: 101%;
  z-index: 2;
  padding: 0;
  list-style: none;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

@mixin autoSuggestionItem {
  font-size: 1.3rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.autoSuggestionItem {
  @include autoSuggestionItem();
}

.autoSuggestionItemActive {
  @include autoSuggestionItem();
  border: 2px solid var(--accent-color);
}

.autoSuggestionItemError {
  @include autoSuggestionItem();
  padding: 0.3rem 0.6rem;
  border: 2px solid var(--accent-color);
}

.innerLink {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0.3rem 0.6rem;
}
