.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 12rem;
  padding: 0.3rem 0.5rem;

  &:focus {
    outline: 2px solid var(--accent-color);
  }
}

.searchButton {
  margin-left: 3px;
  padding: 0.3rem 0.5rem;

  &:hover {
    outline: 3px solid var(--accent-color);
  }
}
