.productContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 5rem;
  place-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-color);
}

.productName,
.price {
  padding: 0.7rem;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 0.5rem;
}

.price {
  font-size: 1.5rem;
  padding: 0.55rem;
}

.removeButton {
  @include button-standard;
  height: 3rem;
  width: 3rem;
  padding: 0;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
