.basketViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  padding: 5rem 2rem 2rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
  overflow-x: hidden;

  @media (width < 1030px) {
    padding: 5rem 1rem 1rem 1rem;
  }
}

.basketContainer {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;

  @media (width < 1030px) {
    flex-direction: column;
    align-items: center;
  }
}

.sectionHeader {
  @include section-header;
  width: 120%;
  margin-top: -3.5rem;
  font-size: 2.2rem;

  @media (width < 1030px) {
    font-size: 1.8rem;
  }
}

.emptyBasket {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
