.basketViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem 2rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
}

.basketContainer {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sectionHeader {
  @include section-header;
  width: 104.8%;
  margin-top: -3.5rem;
  font-size: 2.2rem;
}

.emptyBasket {
  font-size: 1.5rem;
  font-weight: 600;
}
