.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding: 2rem 4vw;
}

.loginButton {
  @include button-standard;
  width: max-content;
  margin-top: 3rem;
  font-size: 1.3rem;
}
