.labelContainer {
  display: flex;
  max-width: 26rem;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid red;
  border-radius: var(--border-radius);
  font-weight: 600;
}

.invalidPasswordText {
  font-size: 0.9rem;
  word-wrap: normal;
}

.iconContainer {
  margin: 7px 0 0 0.5vw;
}
