.labelContainer {
  display: flex;
  max-width: 30rem;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid red;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 600;
}

.iconContainer {
  position: relative;
  flex-grow: 2;
  height: 4rem;
  width: 2rem;
  margin: 0 0 -2px 0.5vw;
}
