.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 35rem;
  width: 22rem;
  margin: 1rem 3rem;

  &:hover .cardContent {
    transform: rotateY(180deg);
  }
}

.cardContent {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
}

.cardFront,
.cardBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.cardBack {
  position: absolute;
}

.cardFront {
  background-image: linear-gradient(
    var(--background-gradient-angle-180),
    var(--background-gradient)
  );
}

.turnIconContainer {
  position: absolute;
  bottom: 3px;
  left: 7px;
}

.cardBack {
  background-image: linear-gradient(var(--background-gradient-angle), var(--background-gradient));
  transform: rotateY(180deg);
}

.name {
  width: 100%;
  padding: 2rem 1.5rem;
  z-index: 1;
  font-size: 2.7rem;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--accent-color-lighter);

  @supports (backdrop-filter: blur(5px)) {
    background-color: rgba(1, 198, 119, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

.description {
  margin: 1rem 2rem;
  text-align: center;
}

.priceContainer {
  margin-top: auto;
  padding: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--accent-color);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 105%;
  margin-top: 1rem;
  border-top: 2px solid var(--accent-color);
}

.addToBasketButton {
  @include button-standard;

  font-size: 1.3rem;

  .imageContainer {
    display: inline;
    margin-right: 0.5rem;
    border: 1px solid var(--border-color);
  }
}
