.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 30rem;
  width: 20rem;
  padding: 1rem 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid var(--accent-color);

  &:hover .cardContent {
    transform: rotateY(0.25turn);
  }
}

.cardContent {
  transform-style: preserve-3d;
  transition: transform 3s;
}

.cardFront,
.cardBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.cardFront {
  background-image: linear-gradient(
    var(--background-gradient-angle-reversed),
    var(--background-gradient)
  );
  transform: rotateY(0.25turn);
}

.cardBack {
  background-color: salmon;
}

.name {
  font-size: 2rem;
}

.image {
  height: 20rem;
}
