.itemContainer {
  min-height: 40rem;
  max-width: 90rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: min(1.5vw, 1.5rem);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: min(2vw, 1.5rem);

  @media (width < 1010px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: fit-content;
  }
}

.sectionHeader {
  @include section-header;
  padding-bottom: 0.5rem;
}

.cardContainer,
.galleryContainer {
  min-height: 38rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: min(2vw, 1.5rem);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-elevation-low);
}

.galleryContainer {
  align-self: stretch;
}

.cardContainer {
  width: 39.5%;
}

.galleryContainer {
  width: 59.5%;
}

.addToBasketButton {
  @include button-standard;

  width: 20rem;
  margin-top: min(2vw, 1.5rem);
  font-size: 1.3rem;

  .buttonImageContainer {
    width: 3.15rem;
    height: 3.15rem;
    margin-right: 0.5rem;
    border: 1px solid var(--border-color);

    @media (width < 410px) {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.addToFavouritesButton {
  position: relative;
}

.imageContainer {
  height: 20rem;
  width: 15rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
