:root {
  --white: hsl(0deg 0% 98%);
  --black: hsl(120deg 56% 4%);
  --accent-color: hsl(156deg 99% 39%);
  --border-radius: 4px;
  --background-gradient: linear-gradient(
    60deg,
    hsl(0deg 0% 100%) 14%,
    hsl(147deg 100% 98%) 51%,
    hsl(148deg 100% 95%) 66%,
    hsl(148deg 100% 92%) 76%,
    hsl(149deg 100% 90%) 83%,
    hsl(149deg 100% 87%) 89%,
    hsl(150deg 100% 84%) 93%,
    hsl(151deg 100% 81%) 97%,
    hsl(152deg 100% 77%) 99%,
    hsl(153deg 100% 74%) 101%,
    hsl(154deg 100% 69%) 102%,
    hsl(156deg 100% 63%) 101%
  );
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.34),
    1.1px 1.1px 1.8px -1.2px hsl(var(--shadow-color) / 0.34),
    2.6px 2.7px 4.2px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.36),
    2.2px 2.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.36),
    5.4px 5.4px 8.6px -1.7px hsl(var(--shadow-color) / 0.36),
    13.2px 13.3px 21.1px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.34),
    3.8px 3.9px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.2px 7.2px 11.5px -0.7px hsl(var(--shadow-color) / 0.34),
    11.8px 11.9px 18.9px -1.1px hsl(var(--shadow-color) / 0.34),
    18.8px 18.9px 30px -1.4px hsl(var(--shadow-color) / 0.34),
    29.4px 29.6px 46.9px -1.8px hsl(var(--shadow-color) / 0.34),
    44.7px 45px 71.4px -2.1px hsl(var(--shadow-color) / 0.34),
    65.8px 66.3px 105.1px -2.5px hsl(var(--shadow-color) / 0.34);
}
