:root {
  // colors
  --white: hsl(0deg 0% 98%);
  --white-darker: rgb(218, 218, 218);
  --black: hsl(120deg 56% 4%);
  --accent-color: hsl(156deg 99% 39%);
  --accent-color-lighter: rgb(1, 255, 153);
  --accent-color-secondary: rgba(1, 255, 153, 0.3);
  --border-color: hsla(0, 0%, 0%, 20%);

  // gradients
  --background-gradient: hsl(0deg 0% 100%) 1%, hsl(158deg 100% 98%) 60%, hsl(155deg 100% 96%) 79%,
    hsl(156deg 100% 94%) 90%, hsl(156deg 100% 92%) 97%, hsl(156deg 100% 89%) 101%,
    hsl(156deg 100% 87%) 101%;
  --background-gradient-angle: 45deg;
  --background-gradient-angle-180: 315deg;
  --background-gradient-angle-reversed: 225deg;

  // shadows
  --shadow-color: 0deg 0% 63%;

  --shadow-elevation-lowest: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.36),
    2.2px 2.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-low: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.36),
    2.2px 2.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.36),
    5.4px 5.4px 8.6px -1.7px hsl(var(--shadow-color) / 0.36),
    13.2px 13.3px 21.1px -2.5px hsl(var(--shadow-color) / 0.36);

  --shadow-elevation-medium: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.36),
    2.2px 2.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.36),
    5.4px 5.4px 8.6px -1.7px hsl(var(--shadow-color) / 0.36),
    13.2px 13.3px 21.1px -2.5px hsl(var(--shadow-color) / 0.36),
    18.8px 18.9px 30px -1.4px hsl(var(--shadow-color) / 0.34);

  --shadow-elevation-high: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.34),
    3.8px 3.9px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.2px 7.2px 11.5px -0.7px hsl(var(--shadow-color) / 0.34),
    11.8px 11.9px 18.9px -1.1px hsl(var(--shadow-color) / 0.34),
    18.8px 18.9px 30px -1.4px hsl(var(--shadow-color) / 0.34),
    29.4px 29.6px 46.9px -1.8px hsl(var(--shadow-color) / 0.34),
    44.7px 45px 71.4px -2.1px hsl(var(--shadow-color) / 0.34),
    65.8px 66.3px 105.1px -2.5px hsl(var(--shadow-color) / 0.34);

  // misc.
  --border-radius: 4px;

  // toastify
  --toastify-color-success: var(--accent-color);
  --toastify-toast-width: 360px;
  --toastify-color-light: var(--white);
  --toastify-text-color-light: var(--black);

  .Toastify__toast-icon {
    width: 30px;
  }
}
